* {
  box-sizing: border-box;
}

.rules {
  margin: auto;
  padding: 20px;
  background-color: rgb(14, 14, 14);
  color: white;
  opacity: 0.8;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  max-width: 1700px;
  min-width: 400px;
  text-align: center;
  margin-bottom: 30px;
}

.homepage {
  font-size: 1rem;
  width: 100%;
  min-height: 100%;
  background-image: url('homepage3.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: 10px;
}

.homepage-title {
  margin-top: 10%;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  color: white;
}

.logo {
  text-align: left;
  width: 15%;
  height: auto;
  margin-bottom: 1rem;
  padding-top: 40px;
}

.display {
  margin-top: 0px;
  margin: auto;
  text-align: center;
  padding: auto;
  border: 5px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 50%;
  padding: 50px;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}







